
.dropdownSearch {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    
}

.dropdownSearch:empty {
    border: none;
}

.dropdownbutton {
    height: 40px;
    width: 100%;
    border: 0;
    text-align: left;
    padding-left: 60px;
}

.classnamekuy {
    color: #fff;
}

.dropdownSearch-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

input {
    width: 100%;
    height: 40px;
}
